.about {
    min-height: 300px;
    padding: 20px 0px 45px;

    background-image: url(../images/about/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.about__inner {
    max-width: 545px;
}
.about__title {
    padding: 10px 0px 25px;

    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
}
.about__text {
    margin-bottom: 30px;

    line-height: 24px;
    letter-spacing: 0.1px;
    color:#d3d2d2;
}
a.about__btn {
    color: #fff;

    &::after {
        color: #000;
    }
}